.store-list{
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	// 左侧列表导航
	.storelistleft{
		.header-add{
			min-height: 40px;
			border-bottom: 1px solid #ccc;
			font-size: 18px;
			line-height: 40px;
		}
	}
	// 右侧正文内容
	.storelistright{
		border-left: 1px solid #ccc;
		.header-add-remove{
			min-height: 40px;
			border-bottom: 1px solid #ccc;
			font-size: 18px;
			line-height: 40px;
			text-align: center;
			.btn-event{
				float: right;
				margin-top: 3px;
			}
		}
	}
}