* {
  margin: 0;
  padding: 0;
  outline: none;
}
*:not(input,textarea) {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
}
body {
  width: 100%;
  font-family: Hiragino Sans GB, Arial, Helvetica, "ו", sans-serif;
  font-size: 14px;
  color: #878787;
  -webkit-touch-callout: inherit ;
  -webkit-user-select: auto ;
  background-color: #fff;
}
a {
  color: #878787;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: none;
}
a:focus{
  outline: 0;
  text-decoration: none;
}
button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}
dt,dd {
  display: inline-block;
}
textarea,input {
  resize: none;
  outline: none;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
ul,ol,li {
  list-style: none;
  margin-bottom: 0;
}
em {
  font-style: normal;
}

.fr {
  float: right;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.modal-dialog{
  margin: 15% auto;
}
.modal-dialog.little{
  width: 250px;
}
.modal-dialog.little .modal-header{
  padding: 5px 15px;
}
.modal-dialog.little .modal-header .close{
  margin-top: 5px;
}
.modal-dialog.little .modal-header h4{
  font-size: 15px;
  margin-top: 5px;
}
label{
  font-weight: 500;
}
.modal.tips .modal-content{
  width: 300px;
  margin: 0 auto;
}
.glyphicon.icon-top:before{
    border-top: 1px solid #666;
}
.glyphicon.icon-bottom:before{
    border-bottom: 1px solid #666;
}
.logo{
  display: block;
  width: 35px;
  height: 38px;
  float: left;
  background: url('data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAmCAYAAABOFCLqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDplNDJmNjg2MS00NTg5LTRlYWYtYmNmNS0xZmU4ZDNlNzg3NDUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTJDRTQ1RUVDMkFFMTFFNjgxQ0ZFNkE5NzhGODk2MUQiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTJDRTQ1RURDMkFFMTFFNjgxQ0ZFNkE5NzhGODk2MUQiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDphMThhODNiZC0xOWIzLTRiOWUtOTlhNi0wNjc1NTM4NWIxNzUiIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo5ZmY4ZTQ2Ny1mNWQ3LTExNzktOGU0YS05YWNkNzFmODEwNDUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4CQvNqAAAC7ElEQVR42sSYS2gUQRBAdzeKrqjIruLfsBqNgjGCBxGiSBIIIsRDMKJGVLyoECEgKojxJmLEeFAUDIgHRSUHlZCDxF/8gGDA38HfQVCCIomShBiIOL7GGhjG7tmZdXa24LE7tdO91V3V1dUdtywr5iG7oRji0AfnYTCWJ0kY9Elog8XwCO7AJLgGJfkyJm6YmRZQPxxw6bdCJezKhzFjXM91UAVToV7z/mVYBivhaT6NOSR/dEncYpLvMM9gjHJrhfSTgbT8xzB8hffwDLqh/5/Wyk1QA1flezaOQ7FLtx0eWP5lCC5ChbMf+8tpqM1ixCp44jK6Dt5Z/yc3IaP6s930A8Z6uOawxNJJmAXbxBX7QwiVWlgH+9ToEtAB9YYZ2QvdUCTPzVaeRM3MEeiB6xqr10ANrIXfcAqafIz2JzyHzzAKUyS453u0GVYjPWeYEZWDGmG5PO/0MbhbEkdpQ5/lcBR6dY3taTcFbUI+U1mMUEFc7XM1KsZBq6uPLvXDGR+NWz0M6XAYHZQS2AIb1LNyxTH8VQQHXT5sFD+/gWbJym55KHEV2t40XnbjX9Alm2e17M5tEsAtmraDkmFHw9wORmCHrPcFskG2Q6e8s97QtiFMQ7x2baeo5TnbpVOuWxJVPWPLUo0hSi5EWVzZUm7Q3yuEMXO1mfJvKRC5MZM1um8wVAhjtEEfdUFuy4BGN02K88iN+WQ4OSwqhDEvDfqqKI8qTumFmS7dB1hYiABu1+jUQW5jIWZGZeFXhnwzI8zjrp+ZeQ2PNfoJoWdin0VQmUdxdReSORZXSWeJGqThWQ+DPvo4dzlJS4XZByNwG+YEHcmLLLXwfdgM0w319Ao4AQOatp1+AtgpEyX3ZLK8p4qut5IW7KNKRg6AxhQS1BglKbmzCbu46s9lo1S3B2VwJWRjmmI5rgKbTSEc/G9AadDV5MUeuaEIciWibjMqnf3kEjNeUgqrHZdFKbndUNn6i1SIPabLoj8CDADgFZXf/ycTcgAAAABJRU5ErkJggg==');
}
.table-operation tbody tr td {
    text-align: center;
    color: #666666;
    font-size: 12px;
    border-right: 1px solid #d8dfea;
    position: relative;
}
.table-operation tbody tr td input{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border: 0;
  padding-left: 3px;
}
.table-operation tbody tr td input:focus{
  border: 1px solid #2cacf3;
}
.fade.in{
  background: rgba(0,0,0,.3);
}
.select2-container--default .select2-selection--single{
  line-height: 35px;
  height: 35px;
  border-color: #ccc;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 35px;
}
#addCategery1,#addCategery2{
  display: block;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  font-family: none;
}
#addCategery1:before,#addCategery2:before{
  font-size: 20px;
  margin-left: 5px;
}
.glyphicon-plus{
  // font-family: ''
}
.sn{
  background-color: #fafafa;
}
.active{
  background: #D9ECFC;
}
.propressBody{
  position: absolute;
  z-index: 10000;
  left: 0;
  right: 0;
  top:  0;
  bottom: 0;
  background: rgba(0,0,0,.2);
}
.propressBody .progressDiv{
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  z-index: 100001;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20%;
  background: #fff;
}
.propressBody .progressDiv .propressLoding{
  display: none;
  text-align: center;
}
.propressBody .progressDiv .propressLoding .loadingImg{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 5px;
  background: url("data:image/gif;charset=utf-8;base64,R0lGODlhPAA8AOZ/AL7g+PX6/iKX55TN89Lq+qHT9ez2/fP5/sXk+a3Y9gyN5Gi47rHa9mC07uTy/GW37gWJ5FGt7O73/Tmi6YXG8srm+dTr+i2c6EGm6o3J8iWY53rA8BCP5dvu+7je9yqb6Emp69zv+9jt+3O98HS+8Oj0/MLi+DKf6Fiw7V2z7Tag6aTU9QOI47Tc94LE8ZDL8xyU5szn+X7C8Wy67/D4/RmT5kSn6lSv7D6k6hSQ5U2r67zf+G67787o+tfs+5zQ9JjP9KrX9ovI8gqM5Lfd93C87zCe6JPM80eo606s7Euq64jH8giK5Pz+//n8/v3+//v9//f7/vb7/gGH48Hi+Obz/OHx/Pr9/qjW9eLx/Pj8/n3C8RuU5uv2/eDw/Hi/8DOf6d7v+9/w+xaR5cnm+aPU9Z7R9ASJ48jl+er1/abV9afW9XzB8R+W5uf0/IDD8ePy/B6V5rrf98Tj+V+07ZbO87/h+GG17hKP5WO27juj6ReS5qnX9pvQ9ACH4////yH/C05FVFNDQVBFMi4wAwEAAAAh/wtYTVAgRGF0YVhNUDw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkQ3ODQyRDg3MUVFNzExRTQ4NEVCQTQ5NENERTJCMzk1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkQ3ODQyRDg4MUVFNzExRTQ4NEVCQTQ5NENERTJCMzk1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RDc4NDJEODUxRUU3MTFFNDg0RUJBNDk0Q0RFMkIzOTUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RDc4NDJEODYxRUU3MTFFNDg0RUJBNDk0Q0RFMkIzOTUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQJAAB/ACwAAAAAPAA8AAAH/4B/goOEhYaHiImKi4yNjo+QjHYvWAeRl5hSIH6cMBaYoI4jnKQfoaeKXKSkIqiuhQqrnD2vtX+bq2NXtq8WHKQsCbyJT1sgKR6MYTw2dzGNTVmnUHGrG7wFOX4KYaAfsn4ItQgsq26XVOB+I7ULshGXa+p5tSmyOpcW6nW1QbJmmCLIEhDA1ogpfqbwAHUABakJYoZlAWAFVRUqIYZp3Mixo8ePIEOKHEmypMmTKFMictAAzJ0qKhE50VAKyqFsA056kIXmkL0bOmU9M1TlBUyTUQSQAvMk5iErDSbMMOC0qtWrWLNq3cq1q9evYA+Z+NHqVIc6FYdt4QRhR6gDeEH8xBnWZAgpeKCicGLihFddUg1OecGARaMMTlxsbiWToGnYxx8l3GjzhSsbUgC2ziDVYmuHNn50KN4qAbLp05cCAQAh+QQJAAB/ACwAAAAAPAA8AAAH/4B/goOEhYaHiImKi4yNjo+QjDEBfweRl5h/QUkqL2qZoI0tfgp+fhc9oaqHTSCmr0ursoNSNq+mJLOzTmwct3a6jDSMT2QRHxp+Qk7BiR12QUsWTYpOaEBARMOMaVehPkUQFzULVY1pjgh1SWsGmSMsr3gLWrNZRgJ+OX2YAWO3przMqnPGFAsj1CKlyQHQDxxZT0jcYmIpEg0d8V59qLgKyz8/Q2xAuQTFTEEmfmCY0RWgTwQ9GGJkkjBAyYk3GZpJiNFFZigJdig1+/NkqNGjSJMqXcq0qdOnUBsRiBLVUYEjN+hgcVc1UZ0Lfjiw0LBkm9MuXeTE8EboQL5XZ7k+AHPq5AcGJClSEfLS0E9Op1U+mNpToJCPhlPePI1xq0whEQwBtngaAowpDRYKpbkDUAkzyiR0tJBSqEmML0aYcLiTOeqTAEJLBwAAQMifz10Tkc7Nu7fv38CDCx9OvHiz2KoQSBgq5Q6boKFa6HCRUBc8PxMIhOJcpPosJa+0gwJAgcHQAW04gGCbiZL3WQdabChqvD5vAkC4EncQwU+E5cRVEc8Y6BAHxRcuzFCfGH9QZd+DEBoVCAAh+QQJAAB/ACwAAAAAPAA8AAAH/4B/goOEhYaHiImKi4yNjo+QkZKTklBoMU+Umo5VH35+YAabo4l3n58zpKqFYKd+E6uxfw2uDbKrDhqfAla3q04eHlG+iW4ROmbEpGGuPLc7EQ1QmgquU72rIhCfXJmSWa6fALE/rgmTTTnWWbEmrmSUBSynI7dbQ0MymwgLKUHETZooG0iwoMGDCBMqXMiwocOHkkT0uAIxkQVPfsacq1joAAxXLGI0BNBiWiEs4fzcYfjlkw5DL1LaYNjmlIRCdlI6W3jjU5tDIFxxCMNQApsZHQ5JGcFFAQgLHKNKnUq1qtWrWLNqnYRgRJ46AaxucCVADFUPKWHdcqIpRUo/IUNiWYnDBAuloCmpxKrzCQOlLW+rxOqAx48XSk/ihENx68AwTVAw+olw4CqVNVC3anY04IZgrOpeZC2Q4vPm06hTQwoEACH5BAkAAH8ALAAAAAA8ADwAAAf/gH+Cg4SFhoeIiYqLjI2Oj5CRkpOSTn9uUZSajlAbQkIIm6KKajl+HDZwo6uFX36vfiass38DQ34sCl20rB0vGBc7vKxNf11kw4lRUhktEsl/WptzSG1xKSK8FnUJmyqvLEwvtBIpfjVvT5MHsK8ztD5MrwKZkgE47SvwFxAaM8WT1GDQ4KdIGlpOGCz4kY2ShBY71FRJdmXXJieWoGncyLGjx48gQ4ocSbJkRytS6plMZMIFiBExrqw8FMUIl1ca+AAUqYbAIQcQ2imRMjIBBDBuDIlo5+eCSpBJXoUwVIJDuxs7QapJcSLAoRlDavhR4YGkAS/PDlkYMaJAt5LqrhSJmUm3rt27ePPq3TtLS9y9LaiUMeEV75U6foyAAZEgo10s7YYkmUprjqpJT8AwVSBsVg8QDw5McrKHqR8GtBL4wUEDcwN57SzQirIkg6YKOKaweFWkkc+PWojc+UBiBKMWapDcMNPa45U5WRjJwTDllp8RaesGADGl3Zg1d0UEZYrkLhXTfjTc7dCme7sFd6N8Gf9KxW+7aWSA8GMDBRHHdgUQQBBE/CEaX8MEAgAh+QQJAAB/ACwAAAAAPAA8AAAH/4B/goOEhYaHiImKi4yNjo+QkZKTlBKUl5BQOn5tHZifii1+ozOgpoYAo35sp62DX203lq60tba3iE8JZLifUFyjMrVYGF6YDapDTa5OTKNRlxHJy65xfngHlzsQo1u1VnWemCI/Jr3n6Onq6+zt7u/w8fLz9PXxBjMTDVb2hE9gqgRAc1flRZVDMVSN8vDuhp8Uh9Ao9MPQ3YAcBQ5B+aBKg5N+g6rcAdPAAciTKFOqXMmypcuXMBWFoHIQkxUAWWiJmaAKRbZJPKb4mTKiVQABEyNMMjMxyKk6E0dZkLRJIURTeaL6WSNJmsIFp0ZopSLJjUIWCE4hiPqBUhgFfkMwutqgMA4UTFmoLYpxxwaPMIw8pACx5Um6BCxUcZja78qYiSBA9oiqAKSIqFxOclRYFKQFGKpASEF5AMsLOzFTXwoEACH5BAkAAH8ALAAAAAA8ADwAAAf/gH+Cg4SFhoeIiYqLjI2Oj5CRkpOST5SXkj4HQZidjC44fjGepIdFfn4ZpauDaRouZKyyVX9asre4iU8EB7mkCBFLK7cSTj6dNxx+Kr2sAEgpUZgaqAI0smo1YLSXRzATX8QvGVKYVQQJHbgGpQG+7/Dx8vP09fb3+Pn6+6S26vyIDCx5AGJHlkNOEAyz92QHBlRMFMhwR6iJtwsL7Em5garjEASFrgjwM8VPi3ohcnTs6KKQk5Uv6llY2XFGoSYaODABQ6CehD00WSwxlICCDj4U5zUZAbSjACqHqljBJ2aGHi5nbJhpBnBQCC9LyvzrSras2bNo06rtWg5TE0FvrVk1QeBijghMaBI0CJHUU5YNF4bg+HB3EoIJEPzYgEqqSZ8cZzqC6fsoz0oQpaKgoOmHcaRQHWGU0jKBc4FJGVZmLHVqJQc5k7q88QMmRZhVHcBAFMDj2iQoZRyIaVSip4RFuzA0UOHiWCcojNK8eJBHCLtFTkJ4OB7PCQkBJV/FVWRp3hyaAq6T3cF5bNcQNVbWgGP2CRs9fsboSYBWS4IlBHig1hWCULZWKYEAACH5BAkAAH8ALAAAAAA8ADwAAAf/gH+Cg4SFhoeIiYqLjI2Oj5CRkpOUlZaXmJmDVSkFmp+EL345oKVVNwOlqqusjBZrVK2WBxF+th9QllEHpSi2v3FPlF5+eB2fVb/KW5QYtnWfVMq/IJRYTHFWnyHTtimVTqoT3R6ykmICyhvmkwF1eSMI7PP09fb3+Pn6+/z9/v+HLIBQwGWElEMdZrCRgC8MB2XVDLWxdQMfj252Ckn41QafjW4vDOmw9QXfnW5YDEFpASBfDBbKYPACKCjBmFsWaBK60kOEzp9AgwodSrSo0Z9NmqwKkmKBvEoyhgxhBmrELxaeJpFRZuJTlinKciiVlEDZj08AumWZ9ISLLQg+QDVZAftLQSUoDSLsKHXxV5igZnREcFMvigcP4YBaSedHgwOgDZQ1ADruFxigM5TdAWoAzK0qQZ/EQJPrqGlMgQAAIfkEBQAAfwAsAAAAADwAPAAAB/+Af4KDhIWGh4iJiouMiloSjZGSkQZEeWUJWJObnIMFKkwCfiovnaaNPkYQfqx+MB2nsYhLrbU/sriEX7Wtb7m/DLx+Ci2/uVcgtVM3aYwHxowWdxyjMzuKTxZYRFRw0IlOf0IeMSFSijQPE0YKGwSnEnObUItNb9SsLHlPnU1sIMWMHcDXigUkTlBm+FkATYIwP15MMaCABpqUD7VYnAhgqsmfcNB+1PDDxA+HAt9yCXmjwoiZLilzHaBSIqbNmzhz6tzJs6fPn0CDCuUkIYAVO0MVNSkw4sQFNYhEHEEQdM4JVqsqHGrjx8azn1um1Npi6AkrDhx/PuD15RAPHgy1gnqolaPOoSjngmrJ4OeDkRtakx4K4EFNgQogBR86qLix48eQI0ueTBmaR5tOQsSSYsFLWmNNLGTAMIKqqQoz6CRJnKsKHVZ7jMDk9IRCDlYojfUYUlCOqTpnV0CLwStupyhIlPBw0BDMGFY2LMQCIOKyMTQPbLB559P6IhGsdR4o84aAAclRjkzJMaGM98YHVLTS89mxFhyszlz4+vjJCjAXCCCEFpJ1IQEQQZxHWXiVNZhSIAA7");
}
.propressBody .progressDiv .propressTitel{
  padding-bottom: 10px;
}